<h1>Available Guests</h1>
<%= form_for @enlist_guests, url: {action: "create"}, role: "form" do |f| %>
	<%= f.collection_check_boxes(:guest, @users, :id, :name) do |b| %>
		<li><%= b.label { b.check_box + b.text } %></li>
	<% end %>
<%= submit_tag("Invite!") %>
	
<% end %> 