
    <!-- Navigation -->
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">
                    <i class="fa fa-play-circle"></i>  <span class="light">In</span> Memory
                </a>
            </div>

            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="brand-heading">Memorials</h1>
                        <p class="intro-text">Create a memorial page for a loved one.<br>Login below to start.</p>

                        <%= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in", class: "btn btn-default btn-lg" %><br>
                        <%= link_to "Sign up with email", "/users/new", id: "sign_up", class: "btn btn-default btn-lg" %>
                        <%= link_to "Log in with email", "/login", id: "log_in", class: "btn btn-default btn-lg" %>
                    </div>
                </div>
            </div>
        </div>
    </header>
