<header class="intro">
  <div class="intro-body">
    <h1 class="brand-heading">Remembrance</h1>
    <div class="intro-text">
      <p>Remember moments shared with your loved ones, pay your respects, celebrate their life.</p>
    </div>
    <div id="log-in-button">
      <%= link_to "Log In", "/login", id: "log_in", class: "btn btn-primary btn-lg" %>
    </div>
    <div id="or">
      - or -
    </div>
    <div id="sign-up-button">
      <%= link_to "Sign up", "/users/new", id: "sign_up", class: "btn btn-primary btn-lg" %>
    </div>
  </div>
</header>