<p>We are deeply saddened to announce the untimely passing of our beloved person.</p>
<p>We have decided to create a memorial page where we can gather to remember the moments we shared in order to celebrate their life and their impact on ours. All memorial service details are available in this same page.</p>
<a href="http://memoriam-dbc.herokuapp.com/">Visit the memorial page</a>