$titles: 80%;

.deceased-page {
	margin: 0 60px;
	padding: 20px 0 0 0;
	height: 100%;
}

.title-card {
	width: $titles;
	margin: auto;
	padding: 0 0 40px 0;
	text-align: center;
	clear: both;
}

.feed {
	clear: both;
}

#passing-dates {
	width: $titles;
	margin: 20px auto;
	padding: auto;
	text-align: center;
}

.memories {
	h2 {
		margin: 20px auto;
		padding: auto;
		width: $titles;
		text-align: center;
	}
}


#ctrl-memorial-nav {
	margin: 0 auto;
	padding-bottom: 10px;
	width: 100%;
	ul {
		list-style-type: none;
		li {
			display: inline;
			text-align: center;
		}
	}
}

.new-post-or-photo {
	margin-bottom: 15px;
}

.memorial-post, .memorial-photo {
	height: 80%;
	border-radius: 10px;
	background-color: #F0F0F0;
	padding: 1px 20px 20px 20px;
}

.container-remembrance {
	margin: 0 auto;
	margin-top: 100px;
	height: 100%;
	width: 80%;
}

.center-links {
	width: 80%;
	margin: 0 0 0 30px;
	clear: both;
	float: left;
}

.created-right-links {
	margin: 0 0 10px 30px;
	float: left;
	clear: both;
}

.attended-right-links {
	margin: 0 0 0 30px;
	float: left;
	clear: both;
}

.reported-posts { 
	display: none 
}

.post-settings-list {
	list-style-type: none;
}

.comment {
	border-radius: 10px;
	background-color: #FAFAFA;
	margin: 5px 0 0 30px;
	padding: 10px;
}