<h1 class="title-card">Attended memorials</h1>
<br>
<table>
	<tbody>
		<% @attended.each do |memorial| %>
			<tr>
				<td><h4> <%= link_to memorial.deceased_name, memorial_path(memorial.id) %> </h4></td>
				<td><h6> <%= memorial.date_of_death.strftime("%B %d, %Y") %> </h6></td>
			</tr>
		<% end %>
	</tbody>
</table>