<div class="container">
	<h1 class="title-card">Welcome to Memorials</h1>

	<div class="center-links">
		<%= link_to "Create A New Memorial", new_admin_memorial_path, id: "create-memorial", class: "btn btn-default btn-lg" %>
	</div>
</div>