<body id="page-top" class="index">
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Rembrance is a final project written by four Dev Bootcamp Chicago students: Simon Gondeck, Francisco Scala, Jeremy Wong and Jonathan Young in August 2014. Remembrance is an web application that helps one organize a memorial for a loved one who has passed on. You can create an online memorial page, invite guests; guests can post loving memories and photos of the deceased.</p>
                </div>
                <div class="col-lg-4">

                    <p>While seemingly simple, we focused on UI/UX due to the sensitive nature of our project. Our proudest accomplishment was the use/integration of State Machine into our project to prevent online spammers from defacing a memorial. We spent a considerable amount of time writing and implementing an algorithm to filter out hurtful/negative comments.
                    </p>

                    <p>Rembrance was written in Ruby on Rails, Javascript (jQuery), HTML5, CSS3, Bootstrap, and PostgreSQL. We used Codeship for continuous integration, and stressed heavily on TDD; we ended up with close to 100% coverage. Our project is entirely open source and can be viewed <a href="https://github.com/JYoung217/memorium"> here</a></p>

                </div>
            </div>
        </div>
    </section>
</body>
